
*.ova
Lesson1/materials/code samples.sql
Lesson1/materials/command line samples.txt
Lesson1/materials/MySQL new2 - Презентация-1.pptx
Lesson1/materials/MySQL old - Методичка-1.docx
Lesson1/materials/ИК Базы данных. Урок 1. Презентация..pptx
Lesson1/materials/Инструкция по сдаче практических заданий через Git.docx
Lesson1/materials/Требования к курсовому проекту.docx
Lesson1/materials/Урок 1. Методичка.docx
Lesson1/materials/Установка программного обеспечения.docx
Lesson1/materials/формат оформления ДЗ.sql
Lesson2/materials/__MACOSX/._hello.sql
Lesson2/materials/__MACOSX/._shop.sql
Lesson2/materials/hello.sql
Lesson2/materials/shop.sql
Lesson2/materials/source01.zip
Lesson2/materials/source02.zip
Lesson2/materials/ИК Базы данных. Урок 2. Презентация..pptx
Lesson2/materials/Урок 2. Язык запросов SQL.docx
*.mp4
Lesson5/source03.zip
Lesson5/source03/__MACOSX/._distance.sql
Lesson5/source03/__MACOSX/._shop.sql
Lesson5/source03/distance.sql
Lesson5/source03/shop.sql
Lesson5/source04.zip
Lesson5/source04/__MACOSX/._shop.sql
Lesson5/source04/__MACOSX/._tbl.sql
Lesson5/source04/shop.sql
Lesson5/source04/tbl.sql
Lesson5/ИК Базы данных. Урок 3. Презентация..pptx
Lesson5/ИК Базы данных. Урок 4. Презентация..pptx
Lesson5/Урок 3. Методичка.docx
Lesson5/Урок 4. Методичка.docx
Lesson7/source05.zip
Lesson7/source05/__MACOSX/._shop.sql
Lesson7/source05/__MACOSX/._tbl.sql
Lesson7/source05/shop.sql
Lesson7/source05/tbl.sql
Lesson7/ИК Базы данных. Урок 5. Презентация..pptx
Lesson7/Урок 5. Методичка.docx
*.xlsx
